

/* http://localhost:8082  */

.hero{
    height:  100vh;//100% de altura
    /* width: 50vh; */
    background-color: lightgray;
    display:flex;
    align-items: center;
//linear-gradient com quatro parametros(RGB A(alpha -transparencia))
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('images/pexels-roberto-nickson-2559941.jpg');
    background-size: cover;//cobre toda a pagina comforme zoom
    background-repeat: no-repeat;//sem repetir a imagem
    background-position: center;
}

.hero-title{
    background-color: adjust-color($color: $dark-sea-green, $alpha: -0.2);//-20% de transparencia
    text-align: center;
    width: 100%; /*100% da largura da tela*/
    padding: 5% 0%; 
 

    h1{
        color: rgb(12, 14, 112);
        font-size: 6.5em;
    }    

    h2{
        color: $secondary;
    }
    
}